﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>
<form method="post">
    <lable>Name</lable>
    <input name="Name" />
    <br />

    <lable>Description</lable>
    <input name="Description"/>
    <br />

    <button type="submit">Save</button>
    <br />
</form>